<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
</nav>

<div class="h-100">
  <div class="h-75 w-100 p-3 landing-img">
    <div class="container h-100">
      <div class="col-md-5 mr-auto mt-4">
        <h3>
          <strong>Plan your next adventure with this quick and simple budgeting tool.</strong>
        </h3>
        <p class="lead">
          Just fill out the form to find out if your savings are on track. Feel free to experiment with different scenarios
            to see what fits your budget the best.
        </p>
      </div>
    </div>
  </div>
  <main class="container-fluid">
    <div class="row bg-light">
      <div class="col-md-6 mx-auto bg-white">
        <div class="mt-4 mx-auto" id="app-form">
          <app-form></app-form>
        </div>
      </div>
    </div>
  </main>
</div>