<div class="col-md-10">
  <div class="row">
    <div class="col-md-6">
      <h3>Income</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form>
        <div class="form-group">
          <label for="monthly-income">Income per Month</label>
          <input #inputIncome type="number" class="form-control" id="monthly-income"
                required
                name="income" (input)="onIncomeInput(inputIncome.value)">
        </div>
      </form>
      <p *ngIf="dailyIncome">Daily Income: {{dailyIncome | currency:'USD':true}}</p>
    </div>
  </div>

  <h3>Trip Expenses</h3>
  <form>
    <div class="row">
      <div class="col-xs-2">
        <div class="form-group">
          <label for="flight">Flight</label>
          <input #inputFlight type="number" class="form-control" id="flight"
                  required
                  (input)="onTripExpenseInput(inputFlight.name, inputFlight.value)" name="flight">
          </div>
        </div>
        <div class="col-xs-2">
          <div class="form-group">
            <label for="flight-date">Flight Date</label>
            <input #inputDate type="date" class="form-control" id="flight-date"
                  required
                  (change)="onDateChange(inputDate.value)">
        </div>
        <p *ngIf="daysToTrip">Days till trip: {{daysToTrip}}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="lodging">Lodging</label>
      <input #inputLodging type="number" class="form-control" id="lodging"
              required
              (input)="onTripExpenseInput(inputLodging.name, inputLodging.value)" name="lodging">
    </div>

    <div class="form-group">
      <label for="foodTrip">Food</label>
      <input #inputFood type="number" class="form-control" id="foodTrip"
              required
              (input)="onTripExpenseInput(inputFood.name, inputFood.value)" name="food">
    </div>

    <div class="form-group">
      <label for="activities">Activities</label>
      <input #inputActivities type="number" class="form-control" id="activities"
              required
              (input)="onTripExpenseInput(inputActivities.name, inputActivities.value)" name="activities">
    </div>
  </form>

  <div class="row">
    <div class="col-md-6">
      <h3>Current Expenses</h3>
      <form>
        <div class="form-group">
          <label for="rent">Rent</label>
          <input type="number" class="form-control" id="rent"
                required
                [(ngModel)]="model.expenses.current.rent" name="rent">
        </div>

        <div class="form-group">
          <label for="utilities">Utilities</label>
          <input type="number" class="form-control" id="utilities"
                required
                [(ngModel)]="model.expenses.current.utilities" name="utilities">
        </div>

        <div class="form-group">
          <label for="food">Food</label>
          <input type="number" class="form-control" id="food"
                required
                [(ngModel)]="model.expenses.current.food" name="food">
        </div>

        <div class="form-group">
          <label for="fun">Fun</label>
          <input type="number" class="form-control" id="fun"
                required
                [(ngModel)]="model.expenses.current.fun" name="fun">
        </div>
      </form>

      <p *ngIf="dailyBurnCurrent">Burn rate per day: {{dailyBurnCurrent | currency:'USD':true}}</p>
    </div>
    
    <div class="col-md-6">
      <h3>Ongoing Expenses</h3>
      <form>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="number" class="form-control" id="phone"
                required
                [(ngModel)]="model.expenses.ongoing.phone" name="phone">
        </div>

        <div class="form-group">
          <label for="loans">Loans</label>
          <input type="number" class="form-control" id="loans"
                required
                [(ngModel)]="model.expenses.ongoing.loans" name="loans">
        </div>
      </form>

      <p *ngIf="dailyBurnOngoing"> Burn rate per day: {{dailyBurnOngoing | currency:'USD':true}}</p>
    </div>
  </div>


  <button type="submit" class="btn btn-default" (click)="onSubmit()">Submit</button>
  <p>{{tripExpensesSum}}</p>
</div>
<div class="col-md-2">
  <h2>Summary</h2>
  <div class="row">
    <div class="col-md-6">
      <h4>Daily Income</h4>
    </div>
    <div class="col-md-6">
      <p>{{dailyIncome | currency:'USD':true}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Burn Rate</h4>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Trip Total</h4>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Days Till Trip</h4>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Money For Trip</h4>
    </div>
   <div class="col-md-6">
   </div>
  </div>
</div>

