<div class="container">
  <h1>Trip Calculator</h1>

  <h3>Trip Expenses</h3>
  <form>
    <div class="row">
      <div class="col-xs-2">
        <div class="form-group">
          <label for="flight">Flight</label>
          <input type="number" class="form-control" id="flight"
                 required
                 [(ngModel)]="model.expenses.trip.flight" name="flight">
         </div>
       </div>
       <div class="col-xs-2">
         <div class="form-group">
           <label for="flight-date">Flight Date</label>
           <input type="date" class="form-control" id="flight-date">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="lodging">Lodging</label>
      <input type="number" class="form-control" id="lodging"
             required
             [(ngModel)]="model.expenses.trip.lodging" name="lodging">
    </div>

    <div class="form-group">
      <label for="activities">Activities</label>
      <input type="number" class="form-control" id="activities"
             required
             [(ngModel)]="model.expenses.trip.activities" name="activities">
    </div>

  </form>

  <h3>Current Expenses</h3>
  <form>
    <div class="form-group">
      <label for="rent">Rent</label>
      <input type="number" class="form-control" id="rent"
             required
             [(ngModel)]="model.expenses.current.rent" name="rent">
    </div>

    <div class="form-group">
      <label for="utilities">Utilities</label>
      <input type="number" class="form-control" id="utilities"
             required>
    </div>

    <div class="form-group">
      <label for="food">Food</label>
      <input type="number" class="form-control" id="food"
             required>
    </div>

    <div class="form-group">
      <label for="fun">Fun</label>
      <input type="number" class="form-control" id="fun">
    </div>
  </form>

  <h3>Ongoing Expenses</h3>
  <form>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="number" class="form-control" id="phone">
    </div>

    <div class="form-group">
      <label for="loans">Loans</label>
      <input type="number" class="form-control" id="loans">
    </div>
  </form>
</div>
