<div class="col-md-2">
  <h2>Summary</h2>
  <div class="row">
    <div class="col-md-6">
      <h4>Daily Income</h4>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Burn Rate</h4>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Trip Total</h4>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Days Till Trip</h4>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Money For Trip</h4>
    </div>
   <div class="col-md-6">
   </div>
  </div>
</div>