<mat-toolbar color="primary">
  <h1>{{title}}</h1>
</mat-toolbar>

<mat-card class="form" color="background">
  <mat-card-title>Calculator Form</mat-card-title>
  <mat-form-field id="date-field">
    <mat-label>Months till trip</mat-label>
    <input matInput #dateInput
      (input)="onDateInput(dateInput.value)">
  </mat-form-field>
  <mat-form-field id="cost-field">
    <mat-label>Trip cost</mat-label>
    <input matInput #costInput
      (input)="onCostInput(costInput.value)">
  </mat-form-field>
  <mat-form-field id="savings-field">
    <mat-label>Savings per month</mat-label>
    <input matInput #savingsRateInput
      (input)="onSavingsRateInput(savingsRateInput.value)">
  </mat-form-field>
  <button mat-button id="submit" color="accent" (click)="onSubmit()">
    Submit
  </button>
</mat-card>

<mat-card id="result-field">
  <p>{{result}}</p>
</mat-card>
  